<div class="container">
  <div class="row mt-2">
    <div class="col">
      <h5>Blog Comments</h5>
      <hr class="mb-3" />
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center text-center" *ngIf="showLoading">
      <img src="../../../../assets/loading.gif" />
    </div>
    <div class="col" *ngIf="!showLoading">
      <h6>Public Comments</h6>
      <div *ngIf="lenOfPub" class="commentList border p-1">
        <div class="row mb-3" *ngFor="let pubCom of pubData | keyvalue">
          <div class="col">
            <div class="">
              <span class="contentData">
                {{ pubCom.value.title }}
              </span>
              <span class="contentData">
                <button
                  (click)="
                    confirmDel(pubCom.value.gearData.dbLink, pubCom.value)
                  "
                  class="btn p-0 m-0"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
                <a
                  [href]="
                    '/blog/' + pubCom.value.postId + '#' + pubCom.value.id
                  "
                >
                  <small class="text-muted mr-3 ml-1">
                    <i>{{ pubCom.value.time | timeParse }} </i>
                  </small>
                  <b>"{{ pubCom.value.content }}"</b>
                </a>
              </span>
            </div>

            <hr class="mb-0" />
          </div>
        </div>
      </div>
      <span *ngIf="!lenOfPub"> No Public Comments Yet </span>
    </div>
    <div class="col" *ngIf="!showLoading">
      <h6>Anonymous Comments</h6>
      <div *ngIf="lenOfPriv" class="commentList border p-1">
        <div class="row mb-3" *ngFor="let privCom of privData | keyvalue">
          <div class="col">
            <div class="">
              <span class="contentData">{{ privCom.value.title }}</span>
              <span class="contentData">
                <button
                  *ngIf="privCom.showTrash"
                  (click)="
                    confirmDel(privCom.value.gearData.dbLink, privCom.value)
                  "
                  class="btn p-0 m-0"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
                <a
                  [href]="
                    '/blog/' + privCom.value.postId + '#' + privCom.value.id
                  "
                >
                  <small class="text-muted mr-3"
                    ><i>{{ privCom.value.time }}</i></small
                  >
                  <b> "{{ privCom.value.content }}"</b>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <span *ngIf="!lenOfPriv"> No Anonymous Comments Yet </span>
    </div>
  </div>
</div>

<div
  mdbModal
  #confirmModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="confirmModal.hide()"
        >
          <span (click)="confirmModal.hide()" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">
          Confirm Comment Delete
        </h4>
      </div>
      <div class="modal-body">
        You will be deleting <b>"{{ currCom.content }}"</b> posted
        {{ currCom.time }} under {{ currCom.title }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-md btn-dark"
          (click)="del(currCom.ref, currCom)"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-md btn-info"
          (click)="confirmModal.hide()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
