<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Post Title</span>
        </div>
        <input
          type="text"
          class="form-control"
          (input)="titleChange($event.target.value)"
          [value]="title"
        />
      </div>
      <div class="">
        <label class="align-self-center">Set Category</label>
        <form class="">
          <div class="form-group">
            <select
              class="form-control-sm"
              (ngModelChange)="catChange($event)"
              (change)="catChange($event)"
              id="catChoose"
            >
              <option value="general">General</option>
              <option value="events">Event</option>
              <option value="podcasts">Podcast</option>
            </select>
          </div>
        </form>
      </div>
      <div>
        <ckeditor
          [editor]="Editor"
          [data]="postContent"
          (change)="onChange($event)"
          #editor
          width="100%"
        ></ckeditor>
      </div>
      <div>
        <button
          class="btn btn-dark disabled rounded-0 m-2"
          id="saveBtn"
          (click)="save()"
          [innerHTML]="saveStatus"
        ></button>
        <button
          *ngIf="type === 'drafts'"
          class="m-2 btn btn-primary rounded-0"
          id="pubBtn"
          (click)="pub()"
        >
          <small> Publish </small>
        </button>
      </div>
    </div>
  </div>
</div>
