<div class="d-flex flex-column justify-content-center my-3 p-5 m-5">
  <div>
    <h1
      class="text-center text-uppercase"
      data-aos="fade-up"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
      data-aos-offset="300"
    >
      Programs
    </h1>
    <h3
      class="text-center"
      data-aos="fade-up"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Collaborative & Innovative
    </h3>
  </div>
</div>
<div class="col">
  <div class="d-flex row justify-content-center my-3">
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-offset="150"
      class="col-sm-10 col-md-10 col-lg-5 p-0"
      style="background-color: #f4f4f4"
    >
      <img
        width="100%"
        src="https://static.wixstatic.com/media/a656b0ef957a443c8f927793b82cdfa0.jpg/v1/fill/w_1842,h_1000,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/a656b0ef957a443c8f927793b82cdfa0.webp"
      />
    </div>
    <div
      class="d-flex col-sm-10 col-md-10 col-lg-5 px-5 p-2 text-center"
      style="background-color: #f4f4f4"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-offset="200"
    >
      <div class="align-self-center">
        <h3 class="text-uppercase">Community Development</h3>
        <p>
          We see every challenge as an opportunity, and this initiative helps us
          ensure that our partners are better prepared to manage the unique
          situations they find themselves in. We are invested in an innovative
          approach that empowers our community and delivers the support they
          need, when they need it.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex row justify-content-center my-3">
    <div
      class="col-sm-10 col-md-10 col-lg-5 p-0"
      style="background-color: #f4f4f4"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-offset="150"
    >
      <img
        width="100%"
        src="https://static.wixstatic.com/media/31e2e9a7bf5b465887db7407f729ddb8.jpg/v1/fill/w_1840,h_1000,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/31e2e9a7bf5b465887db7407f729ddb8.webp"
      />
    </div>
    <div
      class="d-flex col-sm-10 col-md-10 col-lg-5 px-5 p-2 text-center"
      style="background-color: #f4f4f4"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-offset="150"
    >
      <div class="align-self-center">
        <h3 class="text-uppercase">SUPPORT SERVICES</h3>
        <p>
          Through our Support Services, we have the potential to make a real and
          positive change in the community. This is one of our key areas of
          focus here at Stronger Together, and a source of much success for our
          Non-Profit Organization. Get in touch with us today and see how you
          can lend a helping hand with this program.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex row justify-content-center my-3">
    <div
      class="col-sm-10 col-md-10 col-lg-5 p-0"
      style="background-color: #f4f4f4"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-offset="150"
    >
      <img
        width="100%"
        src="https://static.wixstatic.com/media/1aa76b7f38e743de86ad2fc368d21662.jpg/v1/fill/w_1840,h_1000,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/1aa76b7f38e743de86ad2fc368d21662.webp"
      />
    </div>
    <div
      class="d-flex col-sm-10 col-md-10 col-lg-5 px-5 p-2 text-center"
      style="background-color: #f4f4f4"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="0"
      data-aos-once="true"
    >
      <div class="align-self-center">
        <h3 class="text-uppercase">EDUCATION & OUTREACH</h3>
        <p>
          Most of our efforts pertaining to this program involve studying new
          approaches and developing innovative ways to implement them. We
          evaluate our success in this field by gathering qualitative and
          quantitative data, and using that information to measure shifts and
          changes from our baseline measurements.
        </p>
      </div>
    </div>
  </div>
</div>
