h1 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
    font-size: min(72px, 4vmax);
}

h3 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
    // font-size: min(20px, 3vw);
}