<div class="container-fluid">
  <small>
    <a href="/">Stronger Together </a> /
    <a href="/community"> Community </a>
  </small>
  <hr class="m-0" />
</div>
<div class="container mt-5">
  <div class="col">
    <!-- <div class="row">Header</div> -->
    <div class="row">
      <div class="col">
        <div class="row justify-content-center">
          <span class="">
            A safe space where you can journal about your day, your problems,
            etc., in which people can reply providing emotional support, help,
            and guidance. Together, we can promote healing, hope, strength,
            resiliency, trust, and support.
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="row border border-bottom-0 p-3 justify-content-start">
          <div class="col-3">All Posts</div>
          <div class="col-3">My Posts</div>
          <div class="dropdown gearBtn ml-auto">
            <button (click)="newPost()" class="dropbtn gearBtn">
              Create New Post
            </button>
            <div id="createBtn" class="dropdown-content gearBtn">
              <a class="gearBtn" href="#">Start a Discussion</a>
              <a class="gearBtn" href="#">Ask a Question</a>
            </div>
          </div>
        </div>
        <div class="row border">
          <div class="col">
            <div class="row" *ngFor="let forum of posts">
              <a [href]="'/community/' + forum.id">{{ forum.title }}</a>
            </div>
          </div>
        </div>
        <!-- <div class="row border border-bottom-0 justify-content-end p-1">
          <div class="col-6"></div>
          <div class="col-1 text-center">
            <i class="fas fa-comments"></i>
          </div>
          <div class="col-1 text-center">
            <i class="far fa-heart"></i>
          </div>
          <div class="col-1 text-center">
            <i class="fas fa-eye"></i>
          </div>
          <div class="col-3 text-center"><small>Recent Activity</small></div>
        </div>
        <div class="row border">
          <div class="col">
            <div *ngFor="let forum of forums" class="row forum p-2">
              <div class="col">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col">
                        {{ forum.title }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <small>
                          <small>
                            {{ forum.authorName }} &middot; {{ forum.type }}
                          </small>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 text-center my-auto">
                    {{ forum.numComments }}
                  </div>
                  <div class="col-1 text-center my-auto">
                    {{ forum.numLikes }}
                  </div>
                  <div class="col-1 text-center my-auto">
                    {{ forum.numViews }}
                  </div>
                  <div class="col-3 text-center my-auto">
                    <img
                      [src]="forum.recentActivity.authorImg"
                      class="rounded-circle"
                      width="24px"
                    />
                    <small>
                      {{ forum.recentActivity.time | timeParse }}
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <hr class="m-0" />
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
