<div id="firebaseui-auth-container"></div>
<span *ngIf="userLoggedIn">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <app-acc-nav [user]="user" [sections]="sections"></app-acc-nav>
      </div>
      <div class="col">
        <app-profile *ngIf="section === 'profile'"></app-profile>
        <app-bookings *ngIf="section === 'bookings'"></app-bookings>
        <app-blog-posts *ngIf="section === 'blog-posts'"></app-blog-posts>
        <app-blog-likes *ngIf="section === 'blog-likes'"></app-blog-likes>
        <app-blog-comments
          *ngIf="section === 'blog-comments'"
        ></app-blog-comments>
        <app-drafts *ngIf="section === 'drafts'"></app-drafts>
        <app-forum-posts *ngIf="section === 'forum-posts'"></app-forum-posts>
        <app-forum-comments
          *ngIf="section === 'forum-comments'"
        ></app-forum-comments>
      </div>
    </div>
  </div>
</span>
