<div class="d-flex flex-column justify-content-center p-5">
  <div class="m-5">
    <h2
      class="text-center text-uppercase"
      data-aos="fade-down"
      data-aos-once="true"
      data-aos-offset="100"
    >
      STRONGER TOGETHER AT A GLANCE
    </h2>

    <h4
      class="text-center"
      data-aos="fade-down"
      data-aos-once="true"
      data-aos-offset="100"
    >
      A Distinct Identity
    </h4>
  </div>
  <p
    style="max-width: 750px"
    class="text-center align-self-center"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-offset="100"
  >
    Stronger Together was founded in October 2019 and continues to grow and
    build with the support of the community. Here at Stronger Together, we
    believe in creating a community in which no-one is left behind. We
    continuously try to raise awareness, provide motivation and support, and
    break down stigma. Take a look around our website to see the various
    services we offer, along with our blog posts, and the forum page to allow
    you to journal, connect, and discuss with one another. Our shop will be
    coming soon, and its primary goals will be to provide essentials that will
    help our well-being, and boost self-care - a portion of the proceeds will be
    donated to Centre for Addiction and Mental Health (CAMH).
  </p>
</div>
