<div class="d-flex flex-column justify-content-center p-5">
  <div class="m-5">
    <h2
      class="text-center text-uppercase"
      data-aos="fade-down"
      data-aos-once="true"
    >
      STRONGER TOGETHER AT A GLANCE
    </h2>

    <h4 class="text-center" data-aos="fade-down" data-aos-once="true">
      A Distinct Identity
    </h4>
  </div>
  <p
    style="max-width: 750px"
    class="text-center align-self-center"
    data-aos="fade-up"
    data-aos-once="true"
  >
    Stronger Together knows that our strength lies not only in the words we
    stand by, but most importantly through the actions of our initiatives. Back
    in 2000, our Non-Profit Organization realized that by working together we
    could overcome our challenges much more efficiently, and that is why we
    ultimately decided to launch Stronger Together
  </p>
</div>
