<div class='d-flex flex-column justify-content-center p-5 ' style=' background-color: #c9d7e4;'>
    <div class='m-5'>
        <h2 class='text-center text-uppercase'>STRONGER TOGETHER AT A GLANCE</h2>
        <h4 class='text-center'>A Distinct Identity</h4>
    </div> 
    <p style="max-width: 750px;" class="text-center align-self-center">Stronger Together knows that our strength lies not only in the words we stand by, but most importantly through the actions of our initiatives. Back in 2000, our Non-Profit Organization realized that by working together we could overcome our challenges much more efficiently, and that is why we ultimately decided to launch Stronger Together</p>
</div>
