.accNavElem:hover {
    cursor: pointer;
    background-color: #80a0bd;
    color: white !important;
}

.accNavElem:focus {
    outline: none !important;
}

#profile {
    color: #80a0bd;
}

a {
    color: inherit;
}

.accNavElem {
    transition: 0.5s background-color, color;

}