<!-- <div class="col p-0"> -->
<div
  class="row text-white p-4 mr-0 justify-content-start"
  style="background-color: #799bb9"
>
  <!-- <div class="row"> -->
  <div class="col-12 d-flex flex-row">
    <div class="col-9 d-flex flew-row">
      <div class="align-self-center mr-3">
        <img width="64px" src="../../../../assets/STLOGO.png" />
      </div>
      <div class="col align-self-center">
        Changing the narrative one story at a time. Together we are stronger.
      </div>
    </div>

    <div class="col align-self-center d-flex flex-row-reverse">
      <div class="row">
        <div class="p-1 fb">
          <a href="https://www.facebook.com/Stronger.Together100/">
            <i class="fa fa-facebook-official" style="font-size: 1.5em"></i>
          </a>
        </div>
        <div class="p-1 ig">
          <a href="https://www.instagram.com/s.strongertogether/">
            <i class="fa fa-instagram" style="font-size: 1.5em"></i>
          </a>
        </div>
        <div class="p-1 li">
          <a href="http://linkedin.com/company/s-stronger-together">
            <i class="fa fa-linkedin-square" style="font-size: 1.5em"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<span *ngIf="width > 587">
  <div class="pl-5 p-2" style="border-bottom: 5px solid #799bb9">
    <div class="row d-flex flex-row">
      <div class="row d-flex flex-row">
        <div class="col">
          <a routerLink="/">Home</a>
        </div>
        <div class="col">
          <a routerLink="/blog">Blog</a>
        </div>
        <div class="col">
          <a routerLink="/programs">Programs</a>
        </div>
        <div class="col">
          <a routerLink="/forum">Forum</a>
        </div>
        <div class="col">
          <a routerLink="/resources">Resources</a>
        </div>
        <div class="col">
          <a routerLink="/about">About</a>
        </div>
      </div>
      <div class="col d-flex flex-row-reverse pr-5">
        <div class="align-self-end">
          <a *ngIf="!uid" href="/login">
            <svg
              id="login"
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-person-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
              />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path
                fill-rule="evenodd"
                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
              />
            </svg>
          </a>
          <a *ngIf="uid" [href]="'/user/' + uid + '/profile'">
            <svg
              id="login"
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-person-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
              />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path
                fill-rule="evenodd"
                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</span>
<span *ngIf="width <= 587">
  <div class="mb-3" style="border-bottom: 5px solid #799bb9">
    <div role="tab">
      <div class="mb-0 d-flex justify-content-center">
        <a
          data-toggle="collapse"
          href="#smallNav"
          aria-expanded="false"
          class="collapsed"
        >
        </a>
      </div>
    </div>
    <div id="smallNav" class="collapse" role="tabpanel">
      <div class="col">
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/">Home</a>
        </div>
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/blog">Blog</a>
        </div>
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/programs">Programs</a>
        </div>
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/forum">Forum</a>
        </div>
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/resources">Resources</a>
        </div>
        <div class="row justify-content-center p-1 navItem">
          <a routerLink="/about">About</a>
        </div>
        <div class="row justify-content-center p-1 navItem mb-1">
          <a routerLink="/login">
            <svg
              id="login"
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-person-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
              />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path
                fill-rule="evenodd"
                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</span>
<!-- </div> -->
