a {
    color: inherit
}
[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: medium;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0c9";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

[data-toggle="collapse"].collapsed:after {
    font-stretch: ultra-expanded;
    transform: rotate(0deg);
    content: "\f0c9";

}

.navItem {
    transition: 0.5s background-color, color;
}
.navItem:hover {
    cursor: pointer;
    background-color: #80a0bd;
    color: white !important;
}