<div class="container-fluid" *ngIf="post">
  <small>
    <a href="/">Stronger Together </a> /
    <a [href]="catUrl"> Blog {{ post.category }} </a> /
    <a [href]="currPath"> {{ post.title }} </a>
  </small>
  <hr class="m-0" />
</div>

<div class="container mt-5" *ngIf="post">
  <app-blog-nav></app-blog-nav>
  <div class="post col mt-3 border p-5">
    <div class="p-3">
      <small>
        <div class="d-flex row text-muted">
          <div class="mr-2 ml-3 my-auto">
            <a [href]="'/user/' + post.uid + '/profile'">
              <img [src]="post.authorImg" class="rounded-circle author-img-big"
            /></a>
          </div>
          <div class="align-self-center">
            <a
              [href]="'/user/' + post.uid + '/profile'"
              *ngIf="post.authorName !== 'Anonymous'"
            >
              {{ post.authorName }}
            </a>
            <a *ngIf="post.authorName === 'Anonymous'">
              {{ post.authorName }}</a
            >
            &middot; {{ post.time | timeParse }} &middot;
            {{ post.readTime | readParse }}
          </div>
          <div class="align-self-center ml-auto text-big gear">
            <app-gear [data]="gearData"></app-gear>
          </div>
        </div>
      </small>
      <div class="d-flex">
        <h3>{{ post.title }}</h3>
      </div>

      <div class="ck-content">
        <div [innerHTML]="post.content | sanitizeHtml"></div>
      </div>
    </div>
    <hr />
    <div class="row px-3 py-1 mb-2">
      <i
        class="fa fa-facebook-official col text-center"
        style="font-size: 1.2em"
      ></i>
      <i class="fa fa-twitter col text-center" style="font-size: 1.2em"></i>
      <i
        class="fa fa-linkedin-square col text-center"
        style="font-size: 1.2em"
      ></i>
      <i class="fa fa-link col text-center" style="font-size: 1.2em"></i>
    </div>
    <app-blog-footer [post]="footerData"></app-blog-footer>
  </div>
  <div class="col mt-3 border p-5">
    <div class="rounded-circle">
      <div class="row">
        <div class="mr-4">
          <img [src]="user.photoURL" class="rounded-circle author-img-bigger" />
        </div>
        <div class="row align-self-center">
          {{ user.displayName }}
        </div>
      </div>
      <!-- <div class="row mt-3 text-muted"> -->
      <div
        class="form-group row mt-3"
        *ngIf="user.displayName != 'Sign in to comment'"
      >
        <textarea
          class="form-control"
          placeholder="Write a Comment..."
          id="commentFormArea"
          rows="2"
          (change)="commentChange($event.target.value)"
        ></textarea>
      </div>
      <!-- </div> -->
      <button
        *ngIf="user.displayName != 'Sign in to comment'"
        class="btn btn-dark float-right px-4 rounded-0"
        (click)="postComment('')"
      >
        <small>Post</small>
      </button>
      <button
        *ngIf="user.displayName != 'Sign in to comment'"
        class="btn btn-outline-dark float-right px-4 rounded-0 mx-1"
        (click)="postComment('anon')"
      >
        <small>Post Anonymously</small>
      </button>
    </div>
  </div>

  <div class="col mt-3 border p-5">
    <h5>Comments</h5>
    <div class="d-flex">
      <label class="align-self-center">Sort By</label>
      <form class="ml-3">
        <div class="form-group">
          <select
            class="form-control-sm"
            (ngModelChange)="sort($event)"
            (change)="sort($event)"
          >
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
          </select>
        </div>
      </form>
    </div>
    <div *ngFor="let comment of post.comments" class="col border m-2 pt-3">
      <app-comments [comment]="comment"></app-comments>
    </div>
  </div>
</div>
