/* You can add global styles to this file, and also import other style files */
body {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
    
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}