/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: bran;
    src : url('./assets/fonts/BrandonGrotesque-Light.otf')
}



@font-face {
    font-family: lato;
    src : url('./assets/fonts/Lato-Regular.ttf')
}

@font-face {
    font-family: pfd;
    src : url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf')
}




body {
    font-family: lato, sans-serif !important;
    font-style: normal;
    font-weight: 100 !important;
}

html,body
{
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden; 
    scroll-behavior: smooth;
}
h1 {
    font-family: pfd, serif;
    font-weight: 400;
    font-size: min(72px, 4vmax);
}

h2 {
    font-family: pfd, serif;
    font-weight: 400;
}

h3 {
    font-family: pfd, serif;
    font-weight: 400;
}

h4 {
    font-family: pfd, serif;
    font-weight: 400;
}

h5 {
    font-family: pfd, serif;
    font-weight: 200;
}

h6 {
    font-family: pfd, serif;
    font-weight: 200;
}

a {
    color: inherit
}

* {
//  outline: 1px solid red;
}

#test {
    color: #799bb9;
    color: #003459;
    color: #c9d7e4;
}

.title {
    font-family: pfd, serif;
    font-weight: 400;
}

.sub-title {
    font-family: pfd, serif;
    font-weight: 200;
}

.dark-solid-button {
    color: white;
    background-color: #003459;
}

.dark-solid-button:hover {
    color: white;
    background-color: #00243e;
}

.dark-outline-button {
    color :  #003459;
    border: 1px solid #003459 ;
}

.dark-outline-button:hover {
    color: white;
    background-color: #003459;
}

.primary-solid-button {
    color: white;
    background-color: #799bb9;
}

.primary-solid-button:hover {
    color: white;
    background-color: #68849d;
}

.primary-outline-button {
    color :  #799bb9;
    border: 1px solid #799bb9 ;
}

.primary-outline-button:hover {
    color: white;
    background-color: #799bb9;
}