/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: bran;
    src : url('./assets/fonts/BrandonGrotesque-Light.otf')
}

body {
    font-family:bran, sans-serif !important;
    font-style: normal;
    font-weight: 100 !important;
    
}

html,body
{
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden; 
    scroll-behavior: smooth;
}
h1 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
    font-size: min(72px, 4vmax);
}

h2 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
}

h3 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
}

h4 {
    font-family: brandon-grot-w01-light, sans-serif;
    font-weight: 200;
}

a {
    color: inherit
}

* {
 outline: 1px solid red;
}