.ck-content {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}

.post {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(222, 226, 230);
}

a {
    color: inherit;
}

.blurb-link {
    text-decoration: none;
}

// .ck-content h1, .ck-content h2, .ck-content h3, .ck-content h4, .ck-content h5, .ck-content h6 {
//     font-size: 0px !important;
// }