<!-- <a href="/blog/create"><button class="btn btn-dark">New Post</button></a> -->

<div class="container mt-5">
  <app-blog-nav></app-blog-nav>
  <button
    *ngIf="isAdmin"
    class="btn btn-dark rounded-0 mt-2"
    (click)="newPost()"
  >
    <small>New Post</small>
  </button>

  <div *ngFor="let post of posts" class="post row my-3">
    <div class="col-sm-12 col-md-12 col-lg-6 p-0 mr-0">
      <a [href]="'/blog/' + post.id">
        <div class="px-3" [innerHTML]="post.cover"></div>
      </a>
    </div>
    <div class="d-flex col-sm-12 col-md-12 col-lg-6 px-5 p-2">
      <div class="align-self-center" width="100%">
        <small class="align-self-center">
          <div class="row justify-content-start">
            <div class="col-1 p-0 ml-3">
              <a [href]="'/user/' + post.uid + '/profile'">
                <img
                  class="rounded-circle"
                  [src]="post.authorImg"
                  width="32px"
                />
              </a>
            </div>
            <div class="d-flex flex-column p-0 ml-3 justify-content-center">
              <div class="">
                <a [href]="'/user/' + post.uid + '/profile'">
                  {{ post.authorName }}
                </a>
              </div>
              <div class="text-muted">
                <small>
                  {{ post.time | timeParse }} &middot;
                  {{ post.readTime | readParse }}
                </small>
              </div>
            </div>
          </div>
        </small>
        <a [href]="'/blog/' + post.id">
          <h5>{{ post.title }}</h5>
          <a class="blurb-link" [href]="'/blog/' + post.id">
            <!-- <p class="text-muted blurb ck-content">{{ post.content }}</p> -->
            <div
              class="blurb ck-content"
              height="100px"
              [innerHTML]="post.content"
            ></div>
          </a>
        </a>
        <app-blog-footer [post]="post"></app-blog-footer>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3" *ngIf="numPages === 0">
    <i>No Posts Yet</i>
  </div>
  <div class="d-flex justify-content-center" *ngIf="numPages > 0">
    <!-- <div class="col" *ngFor="let page of numPages">
    {{ page + 1 }}
  </div> -->
    <div class="align-self-center">
      <button class="btn" (click)="goToPage(1)"><<</button>
    </div>
    <div class="align-self-center">
      <button class="btn" (click)="goToPage(page - 1)"><</button>
    </div>

    <div class="align-self-center">{{ page }} of {{ numPages }}</div>
    <div class="align-self-center">
      <button class="btn" (click)="goToPage(page + 1)">></button>
    </div>
    <div class="align-self-center">
      <button class="btn" (click)="goToPage(numPages)">>></button>
    </div>
  </div>
</div>
